@import "tailwindcss";
@plugin "daisyui" {

    themes: light --default, light --prefersdark;
  }

body {
    @apply min-h-screen flex text-black flex-col h-full flex-1 bg-orange-50
}
@utility container {
    margin-inline: auto;
}

input,textarea{
    @apply focus:outline-none;
}

@theme {
    
  --color-main-50: #fff7ed;
  --color-main-100: #ffedd5;
  --color-main-200: #fed7aa;
  --color-main-300: #fdba74;
  --color-main-400: #fb923c;
  --color-main-500: #f97316;
  --color-main-600: #ea580c;
  --color-main-700: #c2410c;
  --color-main-800: #9a3412;
  --color-main-900: #7c2d12;
}