<div class=" hidden md:flex justify-center items-center gap-2">
  <a href="/auth/login" class="text-orange-500 btn font-bold">
    Daxil Ol
  </a>
  <a href="/auth/register" class="text-white p-3 btn rounded-xl bg-orange-500 font-bold">
    Qeydiyyata Başla
</a>
</div>
