---
import { isActive } from "../lib/isActive";
import MobileMenu from "./MobileMenu.astro";
import { links } from "../lib/consts";
const pathname = Astro.originPathname;

import IsLogin from "./auth/IsLogin.astro";
---

<header class="bg-white relative shadow-lg">
    <nav class="container mx-auto px-4 mobile">
        <div class="flex justify-between items-center h-16">
            <!-- Logo/Site title -->
            <a href="/" class="text-2xl font-bold text-primary-600">AzeScript</a
            >
            <div
                class="hidden md:flex justify-center items-center md:gap-3 space-x-8"
            >
                <div
                    class="flex gap-3 justify-center items-center"
                    id="desktopNavigation"
                >
                    {
                        links.map((link) => (
                            <a
                                v-for="link in links"
                                href={link.href}
                                class:list={[
                                    "text-gray-600 cursor-pointer hover:text-primary-500 transition-colors",
                                    {
                                        activelink: isActive(
                                            pathname,
                                            link.href,
                                        ),
                                    },
                                ]}
                            >
                                {link.text}
                            </a>
                        ))
                    }
                </div>
                <IsLogin />
            </div>
            <MobileMenu />
        </div>
    </nav>
</header>
