---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="az">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}


	html.is-animating .swup-transition-fade {
    opacity: 0;
    transform: translateY(10px) scale(0.95) rotate(-2deg);
    transition: all 0.4s ease-in-out;
}

.swup-transition-fade {
    opacity: 1;
    transform: translateY(0) scale(1) rotate(0);
    transition: all 0.4s ease-in-out;
}


	html {
		overscroll-behavior: none;
	}
</style>

		<script>
			import SwupFragmentPlugin from "@swup/fragment-plugin";
			import { Swup, SwupFadeTheme } from "@swup/astro/client";

			const swup = new Swup({
				plugins: [
					new SwupFadeTheme(),
					new SwupFragmentPlugin({
						rules: [
							{
								from: "(.*)", // Herhangi bir sayfadan...
								to: "(.*)", // ...herhangi bir sayfaya.
								containers: ["#swup"], // Sadece #swup içeriğini değiştir
								name: "main-content", // Stil vermek için bir isim
							},
							{
								from: "/dashboard/(.*)",
								to: "/dashboard/(.*)",
								containers: ["#swup"],
								name: "admin-content",
							},
						],
					}),
				],
			});
		</script>
	</head>
	<body class="min-h-screen bg-orange-50">
		<Header />
		<main
			id="swup"
			class="container transition-main min-h-[80vh] flex flex-col mx-auto px-4 py-8"
		>
			<slot />
		</main>
			
		<Footer />
	</body>
</html>
