---

import { App } from "../../components/app";

---
<html>
  <head>
    <title>Admin Panel</title>
  </head>
  <body>
    <div id="app">
      <App client:only="react" />
    </div>
  </body>
</html>
